<div class="site-header-wrapper">
    <header class="site-header">
        <div class="container sp-cont">
            <div class="site-logo">
                <h1><a [routerLink]="''"><img src="http://placehold.it/100x50" alt="Logo"></a></h1>
                <span class="site-tagline">Buying or Selling,<br>just got easier!</span>
            </div>
            <div class="header-right">
                <div class="user-login-panel">
                    <a href="#" class="user-login-btn" data-toggle="modal" data-target="#loginModal"><i class="icon-profile"></i></a>
                </div>
                <div class="topnav dd-menu">
                    <ul class="top-navigation sf-menu">
                        <li><a href="#" data-toggle="modal" data-target="#loginModal">Вход</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#registrationModal">Регистрация</a></li>
                        <!--<li><a [routerLink]="'/user-registration'">Регистрация</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- End Site Header -->
</div>
<!--Модальное окно "Вход"-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="text-center">Вход в аккаунт</h4>
            </div>
            <form method="post" name="enter_the_site" id="enter_the_site"
                      (ngSubmit)="enter_the_site.form.valid && openUser(username, userpassword)" #enter_the_site="ngForm"
                      novalidate>
                <div class="modal-body">
                    <div class="regular-signup">
                        <div class="form-group" [ngClass]="{ 'has-error': enter_the_site.submitted && !enter_the_siteName.valid }">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" id="username" name="username" class="form-control"  placeholder="Введите имя*" required
                                       [(ngModel)]="username" #enter_the_siteName="ngModel">
                            </div>
                            <div *ngIf="enter_the_site.submitted && !enter_the_siteName.valid" class="help-block">Введите имя</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': enter_the_site.submitted && !enter_the_sitePassword.valid }">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="text" id="userpassword" name="userpassword" class="form-control"  placeholder="Введите пароль*" required
                                       [(ngModel)]="userpassword" #enter_the_sitePassword="ngModel">
                            </div>
                            <div *ngIf="enter_the_site.submitted && !enter_the_sitePassword.valid" class="help-block">Введите пароль</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="loading" class="btn btn-primary btn-lg btn-block">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Конец модального окна "Вход"-->
<!--Модальное окно "Регистрация"-->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="text-center">Регистрация</h4>
            </div>
            <form method="post" name="registration" id="registration"
                  (ngSubmit)="registration.form.valid && createUser(name, email, phone, password, confirmPassword)" #registration="ngForm"
                  novalidate>
                <!-- Regular Signup -->
                <div class="modal-body">
                    <div class="regular-signup">
                        <div class="form-group" [ngClass]="{ 'has-error': registration.submitted && !registrationName.valid }">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" id="name" name="name" class="form-control"  placeholder="Введите имя*" required
                                   [(ngModel)]="name" #registrationName="ngModel">
                            </div>
                            <div *ngIf="registration.submitted && !registrationName.valid" class="help-block">Введите имя*</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': registration.submitted && !registrationEmail.valid }">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" id="email" name="email" class="form-control"  placeholder="Введите email*" required
                                   [(ngModel)]="email" #registrationEmail="ngModel">
                            </div>
                            <div *ngIf="registration.submitted && !registrationEmail.valid" class="help-block">Введите email*</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': registration.submitted && !registrationPhone.valid }">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
                                <input type="text" id="phone" name="phone" class="form-control"  placeholder="Введите телефон*" required
                                   [(ngModel)]="phone" #registrationPhone="ngModel">
                            </div>
                            <div *ngIf="registration.submitted && !registrationPhone.valid" class="help-block">Введите телефон*</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': registration.submitted && !registrationPassword.valid }">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password" id="password" name="password" class="form-control password-input"
                                   placeholder="Введите пароль*" required [(ngModel)]="password" #registrationPassword="ngModel">
                            </div>
                            <div *ngIf="registration.submitted && !registrationPassword.valid" class="help-block">Введите пароль*</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': registration.submitted && !registrationConfirmPassword.valid }">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control password-input"
                                   placeholder="Подтвердите пароль*" required [(ngModel)]="confirmPassword" #registrationConfirmPassword="ngModel">
                            </div>
                            <div *ngIf="registration.submitted && !registrationConfirmPassword.valid" class="help-block">Подтвердите пароль*</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="loading" class="btn btn-primary btn-lg btn-block">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Конец модального окна "Регистрация"-->