<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->
<div class="body">
    <!-- Start Site Header -->
    <app-header></app-header>
    <!-- Start Page header -->
    <app-content></app-content>
    <!-- Utiity Bar -->
    <app-bread-crumbs></app-bread-crumbs>
    <!-- Actions bar -->
    <app-controls></app-controls>
    <!-- Start Body Content -->
    <div class="main" role="main">
        <div id="content" class="content full">
            <div class="container">
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <!-- End Body Content -->
    <!-- Start site footer -->
    <app-footer></app-footer>
    <!-- End site footer -->
    <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
</div>
