<div class="col-md-9 col-sm-8">
    <h2>Мои объявления</h2>
    <p>В данном разделе выможете ознакомиться со своими объявлениями, а так же отредактировать их.</p>
    <div class="dashboard-block">


        <div *ngFor="let category of categoriesService.categories">
            {{category.name}}


            <div class="table-responsive">
                <table class="table table-bordered dashboard-tables saved-cars-table">
                    <thead>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Описание</td>
                        <td>Цена/Status</td>
                        <td>Создано/отредактированно</td>
                        <td>Действия</td>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<div *ngFor="let good of goodsService.goods">-->
                        <!--<tr *ngIf="category.id == good.categories_id">-->
                        <tr *ngFor="let good of goodsService.goods">
                            <td *ngIf="category.id == good.categories_id" valign="middle"><input type="checkbox"></td>
                            <td *ngIf="category.id == good.categories_id">
                                <!-- Result -->
                                <a href="vehicle-details.html" class="car-image"><img
                                        src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                <div class="search-find-results">
                                    <h5><a href="vehicle-details.html">{{good.name}}</a></h5>
                                    <span>{{good.description}}</span>
                                </div>
                            </td>
                            <td *ngIf="category.id == good.categories_id"><span class="price">{{good.price}}</span></td>
                            <td *ngIf="category.id == good.categories_id"><span class="text-success">Созданно</span>{{good.created_at}}</td>
                            <td *ngIf="category.id == good.categories_id" align="center">
                                <button class="text-default" title="Редактировать">
                                    <a [routerLink]="'/user-editing-an-ad/' + good.id"><i class="fa fa-pencil"></i></a>
                                </button>
                                <button class="text-danger" title="Удалить" (click)="delGood(good.id)"><i
                                        class="fa fa-trash"
                                        aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    <!--</div>-->
                    </tbody>
                </table>
            </div>


        </div>


        <button class="btn btn-default btn-sm disabled">Delete Selected</button>
    </div>
</div>